coloredlogs==15.0
greenlet==1.1.0
humanfriendly==9.1
importlib-metadata==4.0.1
PyMySQL==1.0.2
pyreadline==2.1
PySimpleGUI==4.41.2
PyYAML==5.4.1
SQLAlchemy==1.4.15
typing-extensions==3.10.0.0
zipp==3.4.1
